/* App.css */

.App {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fdfdfd;
  color: #222;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Optional reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
